body {
  font-family: 'Montserrat', sans-serif;

  overflow: hidden;
  height: 100vh;
  width: 100vw;

  --bg-color-primary: #292929;
  --bg-color-secondary: #1e1e1e;
  --bg-color-tertiary: #252526;
  --font-color: #f0f0f0;

  background: var(--bg-color-primary);
}

* {
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: var(--font-color);
}

.content-container {
  max-width: 60%;
  width: 600px;
  margin: auto;

  height: 100%;
  overflow: auto;

  background: var(--bg-color-tertiary);

  padding: 10px;
}

/* ------------------------------------- BUILDER STYLES ------------------------------------- */

.field-container {
  display: flex;
  margin: 8px 0;
}

.field-container > .key {
  margin-right: 5px;
}

.section-container {
  display: flex;
  flex-direction: column;
  margin: 8px 0;

  border: 1px solid var(--bg-color-primary);
  overflow: hidden;
}

.section-container .section-header {
  text-align: center;
  padding: 5px;
  
  border-bottom: 1px solid var(--bg-color-primary);
}

.base-container {
  padding: 5px;
  border: 1px solid var(--bg-color-primary);
  overflow: auto;
}
