.node-presenter {
  position: relative;

  background: var(--bg-color-primary);
  padding: 10px;
  white-space: pre-wrap;
}

.content-editable {
  outline: 0;
}

.error-icon {
  position: absolute;
  top: 5px;
  right: 5px;
}