.content-container {
  overflow: auto;

  background: var(--bg-color-tertiary);

  padding: 10px;
}

.container {
  width: 100vw;
  height: 100vh;

  display: grid;
  grid-template-columns: 1fr 1fr;
}

.card-container {
  flex: 1;
  overflow: hidden;
}

.card {
  overflow: auto;
}

.node-presenter {
  margin-top: 10px;
}

/* ------------------------------------- BUILDER STYLES ------------------------------------- */

.field-container {
  display: flex;
  margin: 8px 0;
}

.field-container > .key {
  margin-right: 5px;
}

.section-container {
  display: flex;
  flex-direction: column;
  margin: 8px 0;

  border: 1px solid var(--bg-color-primary);
  overflow: hidden;
}

.section-container .section-header {
  text-align: center;
  padding: 5px;

  border-bottom: 1px solid var(--bg-color-primary);
}

.base-container {
  padding: 5px;
  border: 1px solid var(--bg-color-primary);
  overflow: auto;
}
